<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MűtárgyCreateDlg" widgetVar="MűtárgyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMűtárgyTitle}" closeOnEscape="true">

            <h:form id="MűtárgyCreateForm">

                <h:panelGroup id="display" rendered="#{műtárgyController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateMűtárgyLabel_neve}" for="neve" />
                        <p:inputText id="neve" value="#{műtárgyController.selected.neve}" title="#{myBundle.CreateMűtárgyTitle_neve}" required="true" requiredMessage="#{myBundle.CreateMűtárgyRequiredMessage_neve}" size="60" maxlength="60"/>

                        <p:outputLabel value="#{myBundle.CreateMűtárgyLabel_leírás}" for="leírás" />
                        <p:inputTextarea rows="4" cols="30" id="leírás" value="#{műtárgyController.selected.leírás}" title="#{myBundle.CreateMűtárgyTitle_leírás}" />

                        <p:outputLabel value="#{myBundle.CreateMűtárgyLabel_digitálisanyag}" for="digitálisanyag" />
                        <p:inputTextarea rows="4" cols="30" id="digitálisanyag" value="#{műtárgyController.selected.digitálisanyag}" title="#{myBundle.CreateMűtárgyTitle_digitálisanyag}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{műtárgyController.saveNew}" value="#{myBundle.Save}" update="display,:MűtárgyListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MűtárgyCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('MűtárgyCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
