<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MűtárgyEditDlg" widgetVar="MűtárgyEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditMűtárgyTitle}" closeOnEscape="true">

            <h:form id="MűtárgyEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{műtárgyController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditMűtárgyLabel_id}" for="id" />
                        <h:outputText id="id" value="#{műtárgyController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditMűtárgyLabel_neve}" for="neve" />
                        <p:inputText id="neve" value="#{műtárgyController.selected.neve}" title="#{myBundle.EditMűtárgyTitle_neve}" required="true" requiredMessage="#{myBundle.EditMűtárgyRequiredMessage_neve}" size="60" maxlength="60"/>

                        <p:outputLabel value="#{myBundle.EditMűtárgyLabel_leírás}" for="leírás" />
                        <p:inputTextarea rows="4" cols="30" id="leírás" value="#{műtárgyController.selected.leírás}" title="#{myBundle.EditMűtárgyTitle_leírás}" />

                        <p:outputLabel value="#{myBundle.EditMűtárgyLabel_digitálisanyag}" for="digitálisanyag" />
                        <p:inputTextarea rows="4" cols="30" id="digitálisanyag" value="#{műtárgyController.selected.digitálisanyag}" title="#{myBundle.EditMűtárgyTitle_digitálisanyag}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{műtárgyController.save}" value="#{myBundle.Save}" update="display,:MűtárgyListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MűtárgyEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('MűtárgyEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
