<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MűtárgyListForm">
        <p:growl id="growl" showDetail="true" sticky="false" />
        <p:outputLabel for="kinevid" value="Kiállítás neve:"/>
        <p:inputText id="kinevid" value="#{műtárgyController.kiallitasnev}"/>
        <p:outputLabel for="kiarid" value="  Kiállítás ára:"/>
        <p:inputText id="kiarid" value="#{műtárgyController.ar}"/>
        <p:commandButton value="Mentés" action="#{műtárgyController.saveKiallitas()}" update="@form"/>
        <p:commandButton value="Mégse" action="#{műtárgyController.delete()}"/>
        <p:panel header="Műtárgyak">
            <p:contextMenu id="MűtárgyDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('MűtárgyListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('MűtárgyListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('MűtárgyListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('MűtárgyListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.MűtárgyMenuItem_kiállításCollection}" icon="ui-icon-search"  action="#{műtárgyController.navigateKiállításCollection}" disabled="#{empty műtárgyController.selected.kiállításCollection}" ajax="false"/>  
                <p:menuitem value="#{myBundle.MűtárgyMenuItem_rendelésCollection}" icon="ui-icon-search"  action="#{műtárgyController.navigateRendelésCollection}" disabled="#{empty műtárgyController.selected.rendelésCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{műtárgyController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{műtárgyController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{műtárgyController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:MűtárgyDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:MűtárgyDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MűtárgyListForm:viewButton').click();"/>


                <p:column sortBy="#{item.neve}" filterBy="#{item.neve}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMűtárgyTitle_neve}"/>
                    </f:facet>
                    <h:outputText value="#{item.neve}"/>
                </p:column>
                
                <p:column width="100">
                    <f:facet name="header">
                        <h:outputText value="Kép"/>
                    </f:facet>
                    <p:graphicImage value="#{item.digitálisanyag}" width="100"/>
                </p:column>
                
                <p:column sortBy="#{item.leírás}" filterBy="#{item.leírás}" filterMatchMode="contains">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMűtárgyTitle_leírás}"/>
                    </f:facet>
                    <h:outputText value="#{item.leírás}"/>
                </p:column>

                <p:column>
                    <p:commandButton value="Hozzáadás" action="#{műtárgyController.add(item)}"/>
                </p:column>
            </p:dataTable>
            
            
            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{műtárgyController.prepareCreate}" update=":MűtárgyCreateForm" oncomplete="PF('MűtárgyCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":MűtárgyViewForm" oncomplete="PF('MűtárgyViewDialog').show()" disabled="#{empty műtárgyController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":MűtárgyEditForm" oncomplete="PF('MűtárgyEditDialog').show()" disabled="#{empty műtárgyController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{műtárgyController.delete}" update=":growl,datalist" disabled="#{empty műtárgyController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>