<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MűtárgyViewDlg" showEffect="explode" hideEffect="clip" widgetVar="MűtárgyViewDialog" modal="true" resizable="false"  appendTo="@(body)" closeOnEscape="true">

            <h:form id="MűtárgyViewForm">
                 <p:graphicImage url="#{műtárgyController.selected.digitálisanyag}" height="480" width="360"/> 
            </h:form>

        </p:dialog>

    </ui:composition>

</html>
