<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="KiállításEditDlg" widgetVar="KiállításEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{my.EditKiállításTitle}" closeOnEscape="true">

            <h:form id="KiállításEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{kiállításController.selected != null}">


                        <h:outputLabel value="#{my.EditKiállításLabel_id}" for="id" />
                        <h:outputText id="id" value="#{kiállításController.selected.id}" />

                        <p:outputLabel value="#{my.EditKiállításLabel_neve}" for="neve" />
                        <p:inputText id="neve" value="#{kiállításController.selected.neve}" title="#{my.EditKiállításTitle_neve}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{my.EditKiállításLabel_jegyár}" for="jegyár" />
                        <p:inputText id="jegyár" value="#{kiállításController.selected.jegyár}" title="#{my.EditKiállításTitle_jegyár}"/>

                        <p:outputLabel value="#{my.EditKiállításLabel_műtárgyCollection}" for="műtárgyCollection" />
                        <p:selectManyMenu id="műtárgyCollection" value="#{kiállításController.selected.műtárgyCollection}"  converter="műtárgyConverter">
                            <f:selectItems value="#{műtárgyController.items}"
                                           var="műtárgyCollectionItem"
                                           itemValue="#{műtárgyCollectionItem}"
                                           itemLabel="#{műtárgyCollectionItem.id.toString()}"
                                           />

                        </p:selectManyMenu>

                        <p:outputLabel value="#{my.EditKiállításLabel_kurátor}" for="kurátor" />
                        <p:selectOneMenu id="kurátor" value="#{kiállításController.selected.kurátor}" required="true" requiredMessage="#{my.EditKiállításRequiredMessage_kurátor}" converter="felhasználóConverter">
                            <f:selectItem itemLabel="#{my.SelectOneMessage}"/>
                            <f:selectItems value="#{felhasználóController.items}"
                                           var="kurátorItem"
                                           itemValue="#{kurátorItem}"
                                           itemLabel="#{kurátorItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{kiállításController.save}" value="#{my.Save}" update="display,:KiállításListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('KiállításEditDialog'));">
                        <p:confirm header="#{my.ConfirmationHeader}" message="#{my.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{my.Cancel}" oncomplete="PF('KiállításEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
