<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="KiállításListWLinkForm">
        <p:growl id="growl" showDetail="true" sticky="false" />
        <p:panel header="#{my.ListKiállításTitle}">
           
            <p:dataTable id="datalist"
                         value="#{kiállításController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{kiállításController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{kiállításController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="" listener="#{kiállításController.resetParents}"/>
                <p:ajax event="rowUnselect" update="" listener="#{kiállításController.resetParents}"/>
                <p:ajax event="contextMenu" update="" listener="#{kiállításController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('KiállításListForm:viewButton').click();"/>

                <!--<p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{my.ListKiállításTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>-->


                <p:column sortBy="#{item.neve}" filterBy="#{item.neve}">
                    <f:facet name="header">
                            <h:outputText value="#{my.ListKiállításTitle_neve}"/>
                    </f:facet>
                    <h:outputText value="#{item.neve}"/>
                </p:column>

                
              
                
                <p:column sortBy="#{item.jegyár}" filterBy="#{item.jegyár}">
                    <f:facet name="header">
                        <h:outputText value="#{my.ListKiállításTitle_jegyár}"/>
                    </f:facet>
                    <h:outputText value="#{item.jegyár}"/>
                </p:column>


                <!--<p:column sortBy="#{item.kurátor.id}" filterBy="#{item.kurátor.id}">
                    <f:facet name="header">
                        <h:outputText value="#{my.ListKiállításTitle_kurátor}"/>
                    </f:facet>
                    <h:outputText value="#{item.kurátor.id}"/>
                </p:column>-->
                
                <p:column >
                    <h:commandButton value="Vásárol" action="#{kiállításController.addTicket(item)}"/>
                </p:column>


            </p:dataTable>

            

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>