<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="KiállításViewDlg" widgetVar="KiállításViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{my.ViewKiállításTitle}" closeOnEscape="true">

            <h:form id="KiállításViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{kiállításController.selected != null}">

                        <h:outputText value="#{my.ViewKiállításLabel_id}"/>
                        <h:outputText value="#{kiállításController.selected.id}" title="#{my.ViewKiállításTitle_id}"/>

                        <h:outputText value="#{my.ViewKiállításLabel_neve}"/>
                        <h:outputText value="#{kiállításController.selected.neve}" title="#{my.ViewKiállításTitle_neve}"/>

                        <h:outputText value="#{my.ViewKiállításLabel_jegyár}"/>
                        <h:outputText value="#{kiállításController.selected.jegyár}" title="#{my.ViewKiállításTitle_jegyár}"/>

                        <h:outputText value="#{my.ViewKiállításLabel_műtárgyCollection}"/>
                        <h:selectManyMenu converter="műtárgyConverter">
                            <f:selectItems value="#{kiállításController.selected.műtárgyCollection}"
                                           var="műtárgyCollectionItem"
                                           itemValue="#{műtárgyCollectionItem}"
                                           itemLabel="#{műtárgyCollectionItem.id.toString()}"
                                           />

                        </h:selectManyMenu>

                        <h:outputText value="#{my.ViewKiállításLabel_kurátor}"/>
                        <h:outputText value="#{kiállításController.selected.kurátor.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{my.Close}" onclick="PF('KiállításViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
