<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FelhasználóicsoportCreateDlg" widgetVar="FelhasználóicsoportCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundl.CreateFelhasználóicsoportTitle}" closeOnEscape="true">

            <h:form id="FelhasználóicsoportCreateForm">

                <h:panelGroup id="display" rendered="#{felhasználóicsoportController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="Megnevezés" for="megnevezés" />
                        <p:inputText id="megnevezés" value="#{felhasználóicsoportController.selected.megnevezés}" title="#{myBundl.CreateFelhasználóicsoportTitle_megnevezés}" required="true" requiredMessage="#{myBundl.CreateFelhasználóicsoportRequiredMessage_megnevezés}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{felhasználóicsoportController.saveNew}" value="Mentés" update="display,:FelhasználóicsoportListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FelhasználóicsoportCreateDialog'));">
                        <p:confirm header="Mentés" message="Biztos, hogy mented?" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="Mégse" oncomplete="PF('FelhasználóicsoportCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
