<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FelhasználóicsoportEditDlg" widgetVar="FelhasználóicsoportEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundl.EditFelhasználóicsoportTitle}" closeOnEscape="true">

            <h:form id="FelhasználóicsoportEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{felhasználóicsoportController.selected != null}">


                        <h:outputLabel value="ID" for="id" />
                        <h:outputText id="id" value="#{felhasználóicsoportController.selected.id}" />

                        <p:outputLabel value="Megnevezés" for="megnevezés" />
                        <p:inputText id="megnevezés" value="#{felhasználóicsoportController.selected.megnevezés}" title="#{myBundl.EditFelhasználóicsoportTitle_megnevezés}" required="true" requiredMessage="#{myBundl.EditFelhasználóicsoportRequiredMessage_megnevezés}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{felhasználóicsoportController.save}" value="Mentés" update="display,:FelhasználóicsoportListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FelhasználóicsoportEditDialog'));">
                        <p:confirm header="Mentés" message="Biztos?" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="Mégse" oncomplete="PF('FelhasználóicsoportEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
