<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="FelhasználóicsoportListForm">

        <p:panel header="#{myBundl.ListFelhasználóicsoportTitle}">
            <p:contextMenu id="FelhasználóicsoportDataTableContextMenu" for="datalist">  
                <p:menuitem value="Létrehoz" onclick="document.getElementById('FelhasználóicsoportListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="Megtekint" onclick="document.getElementById('FelhasználóicsoportListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="Szerkeszt" onclick="document.getElementById('FelhasználóicsoportListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="Töröl" onclick="document.getElementById('FelhasználóicsoportListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundl.FelhasználóicsoportMenuItem_felhasználóCollection}" icon="ui-icon-search"  action="#{felhasználóicsoportController.navigateFelhasználóCollection}" disabled="#{empty felhasználóicsoportController.selected.felhasználóCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{felhasználóicsoportController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{felhasználóicsoportController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{felhasználóicsoportController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:FelhasználóicsoportDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:FelhasználóicsoportDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('FelhasználóicsoportListForm:viewButton').click();"/>

                

                <p:column sortBy="#{item.megnevezés}" filterBy="#{item.megnevezés}">
                    <f:facet name="header">
                        <h:outputText value="Megnevezés"/>
                    </f:facet>
                    <h:outputText value="#{item.megnevezés}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="Létrehoz" actionListener="#{felhasználóicsoportController.prepareCreate}" update=":FelhasználóicsoportCreateForm" oncomplete="PF('FelhasználóicsoportCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="Megtekint" update=":FelhasználóicsoportViewForm" oncomplete="PF('FelhasználóicsoportViewDialog').show()" disabled="#{empty felhasználóicsoportController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="Szerkeszt" update=":FelhasználóicsoportEditForm" oncomplete="PF('FelhasználóicsoportEditDialog').show()" disabled="#{empty felhasználóicsoportController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="Töröl" actionListener="#{felhasználóicsoportController.delete}" update=":growl,datalist" disabled="#{empty felhasználóicsoportController.selected}">
                <p:confirm header="Törlés" message="Biztos?" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>