<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FelhasználóicsoportViewDlg" widgetVar="FelhasználóicsoportViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundl.ViewFelhasználóicsoportTitle}" closeOnEscape="true">

            <h:form id="FelhasználóicsoportViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{felhasználóicsoportController.selected != null}">

                        <h:outputText value="#{myBundl.ViewFelhasználóicsoportLabel_id}"/>
                        <h:outputText value="#{felhasználóicsoportController.selected.id}" title="#{myBundl.ViewFelhasználóicsoportTitle_id}"/>

                        <h:outputText value="#{myBundl.ViewFelhasználóicsoportLabel_megnevezés}"/>
                        <h:outputText value="#{felhasználóicsoportController.selected.megnevezés}" title="#{myBundl.ViewFelhasználóicsoportTitle_megnevezés}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundl.Close}" onclick="PF('FelhasználóicsoportViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
