<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FelhasználóCreateDlg" widgetVar="FelhasználóCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myb.CreateFelhasználóTitle}" closeOnEscape="true">

            <h:form id="FelhasználóCreateForm">

                <h:panelGroup id="display" rendered="#{felhasználóController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="E-mail" for="mailcím" />
                        <p:inputText id="mailcím" value="#{felhasználóController.selected.mailcím}" title="#{myb.CreateFelhasználóTitle_mailcím}" size="30" maxlength="30"/>

                        <p:outputLabel value="Felhasználónév" for="felhasználónév" />
                        <p:inputText id="felhasználónév" value="#{felhasználóController.selected.felhasználónév}" title="#{myb.CreateFelhasználóTitle_felhasználónév}" required="true" requiredMessage="#{myb.CreateFelhasználóRequiredMessage_felhasználónév}" size="30" maxlength="30"/>

                        <p:outputLabel value="Jelszó" for="jelszó" />
                        <p:inputText id="jelszó" value="#{felhasználóController.selected.jelszó}" title="#{myb.CreateFelhasználóTitle_jelszó}" required="true" requiredMessage="#{myb.CreateFelhasználóRequiredMessage_jelszó}" size="30" maxlength="30"/>

                        <p:outputLabel value="kiállítás" for="kiállításCollection" />
                        <p:selectManyMenu id="kiállításCollection" value="#{felhasználóController.selected.kiállításCollection}"  converter="kiállításConverter">
                            <f:selectItems value="#{kiállításController.items}"
                                           var="kiállításCollectionItem"
                                           itemValue="#{kiállításCollectionItem}"
                                           itemLabel="#{kiállításCollectionItem.id.toString()}"
                                           />

                        </p:selectManyMenu>

                        <p:outputLabel value="szerepkör" for="felhasználóicsoportID" />
                        <p:selectOneMenu id="felhasználóicsoportID" value="#{felhasználóController.selected.felhasználóicsoportID}" required="true" requiredMessage="#{myb.CreateFelhasználóRequiredMessage_felhasználóicsoportID}" converter="felhasználóicsoportConverter">
                            <f:selectItem itemLabel="#{myb.SelectOneMessage}"/>
                            <f:selectItems value="#{felhasználóicsoportController.items}"
                                           var="felhasználóicsoportIDItem"
                                           itemValue="#{felhasználóicsoportIDItem}"
                                           itemLabel="#{felhasználóicsoportIDItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{felhasználóController.saveNew}" value="Mentés" update="display,:FelhasználóListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FelhasználóCreateDialog'));">
                        <p:confirm header="Mentés" message="Biztos, hogy elmented?" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="Mégse" oncomplete="PF('FelhasználóCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
