<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FelhasználóEditDlg" widgetVar="FelhasználóEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myb.EditFelhasználóTitle}" closeOnEscape="true">

            <h:form id="FelhasználóEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{felhasználóController.selected != null}">


                        <h:outputLabel value="#{myb.EditFelhasználóLabel_id}" for="id" />
                        <h:outputText id="id" value="#{felhasználóController.selected.id}" />

                        <p:outputLabel value="#{myb.EditFelhasználóLabel_mailcím}" for="mailcím" />
                        <p:inputText id="mailcím" value="#{felhasználóController.selected.mailcím}" title="#{myb.EditFelhasználóTitle_mailcím}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myb.EditFelhasználóLabel_felhasználónév}" for="felhasználónév" />
                        <p:inputText id="felhasználónév" value="#{felhasználóController.selected.felhasználónév}" title="#{myb.EditFelhasználóTitle_felhasználónév}" required="true" requiredMessage="#{myb.EditFelhasználóRequiredMessage_felhasználónév}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myb.EditFelhasználóLabel_jelszó}" for="jelszó" />
                        <p:inputText id="jelszó" value="#{felhasználóController.selected.jelszó}" title="#{myb.EditFelhasználóTitle_jelszó}" required="true" requiredMessage="#{myb.EditFelhasználóRequiredMessage_jelszó}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myb.EditFelhasználóLabel_kiállításCollection}" for="kiállításCollection" />
                        <p:selectManyMenu id="kiállításCollection" value="#{felhasználóController.selected.kiállításCollection}"  converter="kiállításConverter">
                            <f:selectItems value="#{kiállításController.items}"
                                           var="kiállításCollectionItem"
                                           itemValue="#{kiállításCollectionItem}"
                                           itemLabel="#{kiállításCollectionItem.id.toString()}"
                                           />

                        </p:selectManyMenu>

                        <p:outputLabel value="#{myb.EditFelhasználóLabel_felhasználóicsoportID}" for="felhasználóicsoportID" />
                        <p:selectOneMenu id="felhasználóicsoportID" value="#{felhasználóController.selected.felhasználóicsoportID}" required="true" requiredMessage="#{myb.EditFelhasználóRequiredMessage_felhasználóicsoportID}" converter="felhasználóicsoportConverter">
                            <f:selectItem itemLabel="#{myb.SelectOneMessage}"/>
                            <f:selectItems value="#{felhasználóicsoportController.items}"
                                           var="felhasználóicsoportIDItem"
                                           itemValue="#{felhasználóicsoportIDItem}"
                                           itemLabel="#{felhasználóicsoportIDItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{felhasználóController.save}" value="#{myb.Save}" update="display,:FelhasználóListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FelhasználóEditDialog'));">
                        <p:confirm header="#{myb.ConfirmationHeader}" message="#{myb.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myb.Cancel}" oncomplete="PF('FelhasználóEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
