<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="FelhasználóListForm">

        <p:outputLabel for="osszegID" value="Összeg: "/>
        <p:inputText id="osszegID" value="#{felhasználóController.osszeg}"/>
        <p:panel header="#{myb.ListFelhasználóTitle}">
            
            <p:dataTable id="datalist"
                         value="#{felhasználóController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{felhasználóController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{felhasználóController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="" listener="#{felhasználóController.resetParents}"/>
                <p:ajax event="rowUnselect" update="" listener="#{felhasználóController.resetParents}"/>
                <p:ajax event="contextMenu" update="" listener="#{felhasználóController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('FelhasználóListForm:viewButton').click();"/>

              
<p:column sortBy="#{item.felhasználónév}" filterBy="#{item.felhasználónév}">
                    <f:facet name="header">
                        <h:outputText value="Felhasználónév"/>
                    </f:facet>
                    <h:outputText value="#{item.felhasználónév}"/>
                </p:column>

                <p:column sortBy="#{item.mailcím}" filterBy="#{item.mailcím}">
                    <f:facet name="header">
                        <h:outputText value="E-mailcím"/>
                    </f:facet>
                    <h:outputText value="#{item.mailcím}"/>
                </p:column>
                
                <p:column sortBy="#{item.felhasználóicsoportID.megnevezés}" filterBy="#{item.felhasználóicsoportID.id}">
                    <f:facet name="header">
                        <h:outputText value="Szerepkör"/>
                    </f:facet>
                    <h:outputText value="#{item.felhasználóicsoportID.megnevezés}"/>
                </p:column>

                <p:column sortBy="#{item.egyenleg}" filterBy="#{item.egyenleg}">
                    <f:facet name="header">
                        <h:outputText value="Egyenleg"/>
                    </f:facet>
                    <h:outputText value="#{item.egyenleg}"/>
                </p:column>

                <p:column >
                    <p:commandButton value="Egyenleg hozzáadása" action="#{felhasználóController.add(item)}" update="@form">
                        <p:confirm header="Egyenleg" message="Biztos hozzáadja?" icon="ui-icon-alert"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>