<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FelhasználóViewDlg" widgetVar="FelhasználóViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myb.ViewFelhasználóTitle}" closeOnEscape="true">

            <h:form id="FelhasználóViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{felhasználóController.selected != null}">

                        <h:outputText value="#{myb.ViewFelhasználóLabel_id}"/>
                        <h:outputText value="#{felhasználóController.selected.id}" title="#{myb.ViewFelhasználóTitle_id}"/>

                        <h:outputText value="#{myb.ViewFelhasználóLabel_mailcím}"/>
                        <h:outputText value="#{felhasználóController.selected.mailcím}" title="#{myb.ViewFelhasználóTitle_mailcím}"/>

                        <h:outputText value="#{myb.ViewFelhasználóLabel_felhasználónév}"/>
                        <h:outputText value="#{felhasználóController.selected.felhasználónév}" title="#{myb.ViewFelhasználóTitle_felhasználónév}"/>

                        <h:outputText value="#{myb.ViewFelhasználóLabel_jelszó}"/>
                        <h:outputText value="#{felhasználóController.selected.jelszó}" title="#{myb.ViewFelhasználóTitle_jelszó}"/>

                        <h:outputText value="#{myb.ViewFelhasználóLabel_kiállításCollection}"/>
                        <h:selectManyMenu converter="kiállításConverter">
                            <f:selectItems value="#{felhasználóController.selected.kiállításCollection}"
                                           var="kiállításCollectionItem"
                                           itemValue="#{kiállításCollectionItem}"
                                           itemLabel="#{kiállításCollectionItem.id.toString()}"
                                           />

                        </h:selectManyMenu>

                        <h:outputText value="#{myb.ViewFelhasználóLabel_felhasználóicsoportID}"/>
                        <h:outputText value="#{felhasználóController.selected.felhasználóicsoportID.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myb.Close}" onclick="PF('FelhasználóViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
