<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="title">
        <h:outputText value="Web-shop"/>
    </ui:define>
    
    <ui:define name="body">
        <h:form id="form">
            <p:dataTable var="p" value="#{index.termekek}">
                <p:column headerText="Név">
                    <h:outputText value="#{p.nev}"/>
                    <f:param name="tID" value="#{p.termekID}"/>
                </p:column>

                <p:column headerText="Ár" >
                    <h:outputText value="#{p.ar} Ft" />
                </p:column>
                
                <p:column> 
                    <p:lightBox styleClass="imagebox" id="lighbox1">  
                        <h:outputLink value="#{p.kep}">  
                            <h:graphicImage value="#{p.kep}" style="height: 77px; width: 100px" />  
                        </h:outputLink>
                    </p:lightBox>
                </p:column>
                
                <p:column>
                    <p:growl id="growl" life="2000" />
                    <p:commandButton value="Kosárba" action="#{cart.add(p)}" icon="ui-icon-plusthick" update=":form:cartTable growl" actionListener="#{buttonView.buttonAction}" styleClass="ui-priority-primary"/>
                </p:column>
            </p:dataTable>
            

            <p:commandButton id="cartButton" value="Kosár" type="button" icon="ui-icon-cart"/>
            <p:commandButton action="#{index.goToPage()}" process="@this" value="Rendelés leadása" icon="ui-icon-circle-arrow-e" style="float:right;"/>
            
                <p:overlayPanel id="cartPanel" for="cartButton" hideEffect="fade" dynamic="true" style="width:600px">
                   <p:dataTable  value="#{cart.cartContent.entrySet().toArray()}" var="t" rows="5" paginator="true" id="cartTable">
                    <p:column headerText="Név">
                        <h:outputText value="#{t.key.nev}" />
                    </p:column>
 
                    <p:column headerText="Ár">
                        <h:outputText value="#{t.key.ar} Ft" />
                    </p:column>
                         
                    <p:column headerText="Mennyiség">
                        <h:outputText id="mennyiseg" value="#{t.value} db" />
                    </p:column>
                    
                    <p:column headerText="Összesen">
                        <h:outputText value="#{t.key.ar * t.value} Ft" />
                    </p:column>     
                         
                    <p:column>
                        <p:commandButton value="Törlés" action="#{cart.remove(t.key)}" update="cartTable"/>
                    </p:column>     
                    
                    </p:dataTable>
                </p:overlayPanel>  
        </h:form>
        
    </ui:define>
</ui:composition>


