<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="title">
        <h:outputText value="Web-shop"/>
    </ui:define>
    
    <ui:define name="body">
        <h:form>
            <p:dataTable value="#{cart.cartContent.entrySet().toArray()}" var="p" id="orderTable">
                <p:column>
                    <h:graphicImage value="#{p.key.kep}" style="height: 77px; width: 100px" />  
                </p:column>

                <p:column headerText="Név">
                    <h:outputText value="#{p.key.nev}" />
                </p:column>
                
                <p:column headerText="Egység ár">
                    <h:outputText value="#{p.key.ar} Ft" />
                </p:column>
                
                <p:column headerText="Mennyiség">
                    <h:outputText value="#{p.value} db" />
                </p:column>

                <p:column headerText="Összesen">
                    <h:outputText value="#{p.value * p.key.ar} Ft" />
                </p:column>    
                
             </p:dataTable>
            
            <p:panel id="cartSum" header="Rendelés összértéke" style="width: 25%" >
                <h:panelGrid columns="2" cellpadding="10">
                    <h:outputText value="#{cart.cartSum} Ft" style="center"/>
                </h:panelGrid>
            </p:panel>
            
            <p:panel header="Rendelés megerősítése">
                <p:messages autoUpdate="true"/>
                <h:panelGrid id="grid" columns="4" cellpadding="5">
                    <h:outputLabel for="name" value="Név:" style="font-weight:bold"/>                    
                    <p:inputText id="name" value="#{validationView.text}" required="true" label="Nev"/>
                    <p:message for="name" />
                    <h:outputText value="#{validationView.text}" />
                    
                <h:outputLabel for="regex" value="Telefonszám:" style="font-weight:bold"/>                    
                   <p:inputText id="regex" value="#{validationView.regexText}" validatorMessage="11 jegyű telefonszámot adjon meg! pl.06301234567">
                       <f:validateRegex pattern="^\d{11}+$" />
                   </p:inputText>
                   <p:message for="regex" />
               <h:outputText value="#{validationView.regexText}" />    

                <h:outputLabel for="email" value="E-mail cím" style="font-weight:bold"/>                    
                <p:inputText id="email" value="#{validationView.email}" validatorMessage="Érvényes e-mail címet adjon meg!">
                       <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
                   </p:inputText>
                   <p:message for="email" />
                 <h:outputText value="#{validationView.email}" />
               
                <h:outputLabel for="address" value="Cím" style="font-weight:bold"/>
                    <p:inputTextarea id="address" value="#{validationView.address}" required="true" label="Cim">
                        <f:validateLength minimum="0" maximum="150" /> 
                    </p:inputTextarea>
                    <p:message for="address" />
                <h:outputText value="#{validationView.address}" />

                <h:outputLabel for="desc" value="Megjegyzés" style="font-weight:bold"/>
                    <p:inputTextarea id="desc" value="#{validationView.description}" required="false" label="Megjegyzes">
                        <f:validateLength minimum="0" maximum="100" /> 
                    </p:inputTextarea>
                    <p:message for="desc" />
                    <h:outputText value="#{validationView.description}"/>
                 </h:panelGrid>
                
                <p:growl id="growl" showDetail="true" />
                <p:commandButton value="Megerősítés" update="grid growl" validateClient="true" style="margin-right:10px" actionListener="#{dialogView.orderSuccess()}">
                      <p:confirm header="Megerősítés" message="Biztosan leadja a rendelést?" icon="ui-icon-alert" />
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Igen" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="Nem" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </p:panel>
            <p:commandButton action="#{index.goToHomePage()}" process="@this" value="Vásárlás folytatása" icon="ui-icon-circle-arrow-w" style="float:right;"/>
        </h:form>
    </ui:define>
</ui:composition>