<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MűtárgyListForm">
        <p:panel>
            <p:dataTable id="datalist"
                         value="#{műtárgyController.list}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{műtárgyController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{műtárgyController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update=""/>
                <p:ajax event="rowUnselect" update=""/>
                <p:ajax event="contextMenu" update=""/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MűtárgyListForm:viewButton').click();"/>


                <p:column sortBy="#{item.neve}" filterBy="#{item.neve}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMűtárgyTitle_neve}"/>
                    </f:facet>
                    <h:outputText value="#{item.neve}"/>
                </p:column>
                
                <p:column width="100">
                    <f:facet name="header">
                        <h:outputText value="Kép"/>
                    </f:facet>
                    <p:graphicImage value="#{item.digitálisanyag}" width="100"/>
                </p:column>
                
                <p:column sortBy="#{item.leírás}" filterBy="#{item.leírás}" filterMatchMode="contains">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMűtárgyTitle_leírás}"/>
                    </f:facet>
                    <h:outputText value="#{item.leírás}"/>
                </p:column>

            </p:dataTable>
            

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>