<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="Főoldal" outcome="/main" icon="ui-icon-home"/>
                <p:menuitem value="Webshop" outcome="/webshop/index" />
                <p:menuitem value="Kiállítás létrehozása" outcome="/műtárgy/index" rendered = '#{loginController.getRole().equals("1")}'/>
                <p:menuitem value="Kiállítások" outcome="/kiállítás/index" rendered = '#{loginController.getRole().equals("1")}'/>
                <p:menuitem value="Kiállítások" outcome="/kiállítás/indexWL" rendered = '#{!loginController.getRole().equals("1")}'/>
                <p:menuitem value="Saját kiállításaim" outcome="/Kiallitasaim/index" rendered = '#{loginController.isLoggedIn}'/>
                <p:menuitem value="Felhasználók" outcome="/felhasználó/index" rendered='#{loginController.getRole().equals("1")}'/>
                <p:menuitem value="Felhasználói csoportok" outcome="/felhasználóicsoport/index" rendered = '#{loginController.getRole().equals("1")}'/>
                <p:menuitem value="Bejelentkezés" outcome="/login" rendered="#{!loginController.isLoggedIn}"/>
                <p:menuitem value="Kilépés" outcome="/index" rendered="#{loginController.isLoggedIn}"/>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>