<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{myBundle.AppName}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <p:panel header="Bejelentkezés">
                <h:form>
                <p:panelGrid columns="2">
                             <h:outputLabel for="username" value="Felhasználónév:"/>
                             <h:inputText id="username" value="#{loginController.username}"/>
                             <h:outputLabel for="password" value="Jelszó:"/>
                             <h:inputSecret id="password" value="#{loginController.password}"/>
                    
                        <h:commandButton action="#{loginController.validateUsernamePassword}"
			value="Login"></h:commandButton>
                </p:panelGrid>
                </h:form>
            </p:panel>

        </ui:define>

    </ui:composition>

</html>